<% if @article.user == current_user %>
	<div class="container">
	  <center>
	  	<h1>Edition - <span class="title-show"><%= @article.title %></span></h1>
	  </center>
	  <div class="row">
	    <div class="col-sm-2">
	    </div>    
	    <div class="col-sm-8 col-xs-12">
	      <%= simple_form_for(@article) do |f| %>
	        <div class="form-inputs">
	          <%= f.input :title %>
	          <%= f.input :body %>

	        </div>

	        <div class="form-actions">
	          <%= f.button :submit, "Modifier" %>
	        </div>
	      <% end %>

	    </div>    
	    <div class="col-sm-2">
	    </div>    
	  </div>
	</div>
<% else %>
	<center>
		<h1>Lol, nope..</h1>
	</center>
<% end %>

