<center><p style="margin-top: 15px; color: orange;">Salut <%= current_user.username %> !</p></center>
<div class="container">
	<h1>Articles</h1>
	<div class="row">
		<% @articles.each do |article| %>

			<a href=" <%= article_path(article) %> ">
				<div class="card-link col-sm-5 col-sm-offset-1 col-lg-3 col-lg-offset-1">
					<p style="padding-top: 10px">
						<span style="color: orange; font-weight: bold; font-size: 20px; text-transform: uppercase;"><%= article.title %></span><br>
						by <br>
						<span style="color: #1db954"><%= article.user.username %></span>
					</p>
				</div>
			</a>

		<% end %>
		<a href="<%= new_article_path %>">
			<div class="card-link col-sm-5 col-sm-offset-1 col-lg-3 col-lg-offset-1">
				<i class='fas fa-plus-circle'></i>
			</div>
		</a>
	</div>
</div>
